server {
    listen 80;

    location /login/ {
        proxy_pass http://${LOGIN_APP_HOST}:${LOGIN_APP_PORT}/;
    }

    location /api/ {
        proxy_pass http://${MAIN_APP_HOST}:${MAIN_APP_PORT};
    }
}
